<% content_for :title, 'Photo Book' %>
<h1>Photo Book (alpha)</h1>

<div class="right_link" ><%= link_to 'See people', :action => 'index' %><br/>
<%= link_to 'See phone book', :action=>'phone_book' %></div>

<% content_for :tablesorter do %>
  <%= javascript_include_tag 'tablesorter' %>
  <%= javascript_include_tag 'tablesorter_filter' %>
  <%= javascript_include_tag 'application' %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
    $(".inactive").hide();
    if( $("#filterBoxOne").attr("disabled") == true ) {
      $('#filterBoxOne').val('<%= params[:filterBoxOne] ? params[:filterBoxOne] : "" %>');
      $('#filterBoxOne').removeAttr("disabled");
      $('#filterBoxOne').focus();
    }
  }
);
</script>

<% form_tag :action => 'photo_book' do %>
<div style="float:none">
  <%= render :partial => "tablesorter_filter_box" %>
  <label>Show Students</label>
  <input type="checkbox" id="student_checkbox" onchange="toggleStudents()" value="1" checked="checked" />
  <label>Show Staff</label>
  <input type="checkbox" id="staff_checkbox" onchange="toggleStaff()" value="1" checked="checked" />
  <label>Show Inactive</label>
  <input type="checkbox" id="inactive_checkbox" onchange="toggleInactive()" value="0" />
  <br/><br/><%= submit_tag 'Search' %><br/><br/>
  <hr/><br/>
</div>

<% for person in @people %>
  <div width="200"><%= render :partial=>'people/twiki_photo_link', :locals => {:person => person} %></div>
<% end %>

<br/>
<% end %>